<div class="center">
  <i class="material-icons red circle">bug_report</i>
  <h5>
    <!-- <a (click)="goToSignIn()"><i class="material-icons">arrow_back</i></a> -->
    Reset your password
  </h5>
</div>

<div class="card">
  <div class="card-content">
    <form *ngIf="!submitted" action="" class="">
      <div>
        <strong>
          Enter your user account's verified email address and we will send you a password reset link.
        </strong>
      </div>
      <div class="input-field">
        <input placeholder="Enter your email address" [(ngModel)]="email" name="email" type="text">
      </div>
      <div>
        <button (click)="sendPasswordResetEmail()" class="block">
          Send password reset email
        </button>
      </div>
    </form>
    <div *ngIf="submitted">
      <div>
        <strong>
          Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.
        </strong>
      </div>
      <div>
        <button (click)="goToSignIn()" class="block return">
          Return to sign in
        </button>
      </div>
    </div>
  </div>
</div>
