<mat-toolbar>
  <mat-toolbar-row>
    <span>
      <i class="material-icons red circle">bug_report</i>
      Bug Tracker
    </span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
    <button routerLink="projects" routerLinkActive="active" mat-button>Projects</button>
    <div *ngIf="service.photoURL != '' && service.photoURL != null"
    routerLink="sign-in" routerLinkActive="active">
      <button mat-button>
        <img src="{{service.photoURL}}" alt="" class="circle" height="30px" width=height>
      </button>
    </div>
    <div class="secondary-content" *ngIf="service.photoURL == '' || service.photoURL == null">
      <button mat-button
      routerLink="sign-in" routerLinkActive="active">
        <i class="material-icons">account_circle</i>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
