<div *ngIf="auth.user$ | async as user">
  <div class="secondary-col">
    <h5>
      <a (click)="goBackToProject()"><i class="material-icons">arrow_back</i></a>
      Projects
      <i class="material-icons">chevron_right</i>
      {{project?.name}}
      <i class="material-icons">chevron_right</i>
      {{bug?.name}}
    </h5>
  </div>
  <div *ngIf="bug != null;else nobug">
    <div *ngIf="!editState">
      <h4>
        <strong>
          {{bug?.name}}
        </strong>
        <div class="secondary-content">
          <a (click)="delete()"><i class="material-icons icon-red">delete</i></a>
          <a><i (click)="toggleEditState()" class="material-icons">edit</i></a>
        </div>
      </h4>
      <hr>
      <ul class="collection">
        <li class="collection-item bug-description-header">
          <strong>{{user.displayName}}</strong>
          <span>{{" "}}</span>
          <a class="secondary-col">{{ bug?.time | timeAgo }}</a>
          <div class="secondary-content">
            <span class="new badge tag" attr.data-badge-caption="{{bug?.state}}"></span>
            <span class="new badge tag" attr.data-badge-caption="{{bug?.priority}}"></span>
          </div>
        </li>
        <li class="collection-item avatar">
          <img src="{{user.photoURL}}" alt="" class="circle">
          {{bug?.description}}
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="editState">
    <h4>
      <strong>
        <input [(ngModel)]="bug.name" type="text" class="title-edit" maxlength="20" size="20">
      </strong>
      <div class="secondary-content">
        <a (click)="delete()"><i class="material-icons icon-red">delete</i></a>
        <a><i (click)="toggleEditState()" class="material-icons">compress</i></a>
      </div>
    </h4>
    <hr>
    <ul class="collection">
      <li class="collection-item bug-description-header">
        <strong>{{user.displayName}}</strong>
        <span>{{" "}}</span>
        <a class="secondary-col">{{ bug?.time | timeAgo }}</a>
      </li>
      <li class="collection-item avatar">
        <img src="{{user.photoURL}}" alt="" class="circle">
        <textarea [(ngModel)]="bug.description" name="description" rows="8" cols="80"></textarea>
      </li>
      <li class="collection-item">
        <div class="col s6">
          <div class="row">
            <div class="col s6">
              <mat-form-field>
                <mat-label>
                  <link rel="manifest" href="./manifest.json">Priority</mat-label>
                <mat-select [(value)]="bug.priority">
                  <mat-option value="{{priority}}" *ngFor="let priority of priorities">
                    {{priority}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col s6">
              <mat-form-field>
                <mat-label>
                  <link rel="manifest" href="./manifest.json">Priority</mat-label>
                <mat-select [(value)]="bug.state">
                  <mat-option value="{{state}}" *ngFor="let state of states">
                    {{state}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </li>
      <li class="collection-item secondary-content">
        <a (click)="toggleEditState()" class="cancel">Cancel</a>
        <a (click)="update()" class="update">Update</a>
      </li>
    </ul>
  </div>
  <ng-template #nobug>
    <ul class="collection">
      <li class="collection-item">
        <div class="item">
          <ngx-skeleton-loader count="2" appearance="line"> </ngx-skeleton-loader>
        </div>
      </li>
    </ul>
  </ng-template>
</div>
