<div class="secondary-col">
  <h5><a (click)="goToSignIn()"><i class="material-icons">arrow_back</i></a>Projects</h5>
</div>
<h4>
  <strong>Projects</strong>
  <div class="secondary-content">
    <a (click)="goToAddProject()"><i class="material-icons">add</i></a>
  </div>
</h4>
<hr>
<div class="card">
  <div class="card-content">
    <nav>
      <div class="nav-wrapper">
        <form>
          <div class="input-field search">
            <input #txtFname id="search" type="search" placeholder="Search projects ..." required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons" (click)="txtFname.value=''">close</i>
          </div>
        </form>
      </div>
    </nav>
    <div *ngIf="projects?.length > 0;else noProjects">
      <table>
        <tr>
          <th>name</th>
          <th>scope</th>
          <th>
            created
            <i (click)="toggleTimeSort()" *ngIf="sortByNewest" class="material-icons">arrow_drop_down</i>
            <i (click)="toggleTimeSort()" *ngIf="!sortByNewest" class="material-icons">arrow_drop_up</i>
          </th>
        </tr>
        <tr *ngFor="let project of projects | searchFilter : 'name' : txtFname.value | sortgrid : (sortByNewest ? 'time' : '-time')">
          <td><strong><a (click)="goToProject(project)">{{project.name}}</a></strong></td>
          <td>
            <div class="secondary-col">
              <i class="material-icons">{{ project.private ? 'perm_identity' : 'public' }}</i>
            </div>
          </td>
          <td><div class="secondary-col">{{project?.time | timeAgo }}</div></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<ng-template #noProjects>
  <ul class="card">
    <li class="card-panel hoverable">
      <ngx-skeleton-loader count="2" appearance="lines"> </ngx-skeleton-loader>
    </li>
  </ul>
</ng-template>
