<div>
  <div *ngIf="service.user$ | async as user; else login">
    <h5>
      Account
    </h5>
    <strong>username:</strong> {{user.displayName}}
    <p></p>
    <strong>email:</strong> {{user.email}}
    <hr>
    <button class="btn red" (click)="service.signOut()">Sign Out</button>
  </div>
  <ng-template #login>
    <div class="center">
      <i class="material-icons red circle">bug_report</i>
      <h5>
        Sign In to Bug-Tracker
      </h5>
      <div class="card">
        <div class="card-content">
          <form class="col s6">
            <div type="text" class="input-field col s6">
              <input [(ngModel)]="username" name="username" required>
              <label class="active">Email</label>
            </div>
            <div class="input-field col s6">
              <a (click)="goToForgotPassword()" class="secondary-content">Forgot password?</a>
              <input type="password" [(ngModel)]="password" name="password" required>
              <label class="active">Password</label>
            </div>
          </form>
          <div>
            <button class="block red" (click)="signIn(); clear()">
              <i class="material-icons">email</i>
              Sign in with Email
            </button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <button class="block google" (click)="service.googleSignin()">
            <img height="20px" width=height src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/google-512.png" alt="Google Logo" />
            Sign in with Google
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div>
            New to Bug-Tracker?
            <a (click)="goToRegister()">Create an account</a>
          </div>
        </div>
        </div>
    </div>
    <div (click)="alert()" class="block">
        Click Me!
    </div>
  </ng-template>
