<div class="parent">
  <div *ngIf="auth.user$ | async as user; else login">
    <strong>You are Signed In! {{auth.user$.displayName}} </strong>
    <hr>
    <button class="btn red" (click)="auth.signOut()">Sign Out</button>
  </div>
  <ng-template #login>
    <mat-card style="text-align:center" class="example-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="signIn(); clear()" color="primary">Login</button>
        <button mat-raised-button (click)="goToRegister()" color="primary">Register</button>
      </mat-card-actions>
      <button mat-raised-button (click)="auth.googleSignin()" class="circle" color="primary">
        <img height="20px" width=height src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/google-512.png" alt="Google Logo"/>
      </button>
    </mat-card>
  </ng-template>
</div>
