<a (click)="goToAddProject()"><i class="material-icons">add</i></a>
<div>
  <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input #txtFname id="search" type="search" placeholder="Search Projects ..." required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons" (click)="txtFname.value=''">close</i>
        </div>
      </form>
    </div>
  </nav>
  <div *ngIf="projects?.length > 0;else noProjects">
    <ul *ngFor="let project of projects | searchfilter : 'name' : txtFname.value | sortgrid : '-time'" class="card project">
      <li [class.selected]="project.id === selectedId" class="card-panel hoverable">
        <strong>
          <a (click)="goToProject(project)">
            {{project.name}}
          </a>
        </strong>
        {{project.description}}
        <i>
          {{formatCollaborators(project)}}
        </i>
        <i class="material-icons">{{ project.private ? 'perm_identity' : 'public' }}</i>
        {{project.time}}
      </li>
    </ul>
  </div>
</div>
<ng-template #noProjects>
  <ul class="card">
    <li class="card-panel hoverable">
      <ngx-skeleton-loader count="2" appearance="lines"> </ngx-skeleton-loader>
    </li>
  </ul>
</ng-template>
